# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Databases & Temp files
*.sqlite3-journal
*.db-journal

# VS Code & IDEs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db
